---
layout: amuseet
heading: "The public office<br>at The Swedish Museum of Architecture"
amuseet-title: "Allmänna kontoret hemsida"
date: "30 oct - 30 nov, 2012"
---

<aside class="menu">
  <h1 class="logo {{site.lang}}"><a title="{{page.amuseet-title}}" href="{{site.baseurl}}">{{site.amuseettitle}}</a></h1>

  <nav>
      <ul class="link">
        <li><a class="active" href="#home">Home</a>
          {{mus}}
          {% for mus in site.categories.amuseet reversed %}
          <li><a href="#{{mus.ref}}">{{mus.title}}</a>
          {% endfor %}
        <li><a href="{{site.baseurl}}">The public office's main site</a>
      </ul>
  </nav>
</aside>

<header>
  <h2 class="title">{{page.heading}}</h2>
  <h3>{{page.date}}</h3>
</header>

<!-- <section>
  {% for invigning in site.categories.opening_event %}
  <hgroup class="event">
    <h2>{{invigning.title}}</h2>
    <h3>{{invigning.headline}}</h3>
    {{ invigning.content }}
  </hgroup>
  {% endfor %}
</section> -->
<section>
{% for mus in site.categories.amuseet reversed %}
  <article>
    <h2 id="{{mus.ref}}">{{mus.title}}</h2>
    {{ mus.content }}
  </article>
{% endfor %}
</section>
<footer>
{% include partials/footer.part %}
</footer>