---
layout: global
title: team
ref: team
main: true
edit: false
category: about
---

<ul class="team">
  {% for item in site.categories.team reversed %}
    <li class="person">
      <img class="grid_1 alpha"
      {% if item.gravatar %} src="{{item.gravatar}}?s={{site.gravasize}}"
      {% else %} width="{{site.gravasize}}" src="{{site.baseurl}}/assets/img/{{item.picture}}"
      {% endif %}
      alt="{{item.name}}">
      <h3 class="grid_4 name">{{item.name}}</h3>
      <h4 class="grid_4 role">{{item.role}}</h4>
      <div class="description"><p>{{item.content}}</p></div>
    </li>
  {% endfor %}
</ul>
<br class="clear" />