/* @override 
	http://thepublicoffice.se//assets/css/style.css
	http://thepublicoffice.se/assets/css/style.css */

/* GLOBAL
   ------ */
body{
  font: 400 20px 'Josefin Slab', serif;
  letter-spacing: 0;
  margin: 0;
  border-top: 4px solid;
  -webkit-font-smoothing: subpixel-antialiased;
  background-image: url(http://allmannakontoret.se/assets/img/grid.png);
}
a:link,
a:visited{
  font: italic 700 13px 'Lora';
  text-decoration: none;
}
a:hover,
a:active{
  text-decoration: underline;
}
.tools,
.tools a{
  color: #d0cece;
}
ul.tools li{
  float: right;
  padding: 0 0 0 10px;
  margin-left: 10px;
  border-left: 1px solid #d0cece;
  position: relative;
}
ul.tools li:last-child{
  padding: 0;
  border-left-style: none;
}
/* LOGO
   ---- */
h1.logo a{
  text-indent: -99999px;
  display: block;
  background: url(../img/logo_en.png) no-repeat -6px 0;
  height: 230px;
  width: 300px;
  margin-top: 25px;
}

/* POSTIT
   ------ */
.postit{
  text-align: center;
  background: url(../img/postit.png) no-repeat -1px -5px;
  height: 285px;
  margin: 0;
  width: 287px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
.postit section{
  padding: 25px;
  width: 250px;
}
.postit h1{
  color: #c10032;
  font-size: 24px;
}
.postit h2{
  font: italic 700 13px 'Lora';
  color: #1a85ba;
  margin-bottom: 20px;
}
.postit p{
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 27px;
}
.postit a{
  font: italic 700 13px 'Lora';
  text-decoration: none;
  padding: 6px;
  border-radius: 3px;  
}
.postit a{
  background-color: #00a77b;
  color: #fff;
}
.postit a:hover,
.postit a:active{
	background-color: #fff;
	color: #00a77b;
	border: 1px solid #00a77b;
}

/* MAIN NAV
   -------- */
nav ul li a:link,
nav ul li a:visited{
  text-transform: uppercase;
  font: normal bold 18px "Josefin Slab", serif;
}
nav.main ul li{
  float: left;
  margin-right: 1px;
  padding: 8px 8px 4px;
  background-color: #f6f6f6;
}
nav.main ul li.index{
  background-color: #2d83bb;
}
nav.main ul li.about{
  background-color: #fad31e;
}
nav.main ul li.concept{
  background-color: #2ba167;
}
nav.main ul li.contact{
  background-color: #bb0038;
}
nav.main ul li a{
  font-size: 24px;
  color: #fff;
}

/* SUBMENU
   ------- */
nav.submenu ul li{
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
}
nav.submenu > ul > li {
  padding-top: 15px;
}
nav.submenu > ul > li div{
	margin-right: 10px;
}
nav.submenu > ul > li:first-child{
  padding-bottom: 10px;
}
nav.submenu > ul > li.active{
  padding-bottom: 0;
}
nav.submenu ul li a:link,
nav.submenu ul li a:visited{
	color: #d0cece;
}
nav.submenu ul li{
	border-color: #d0cece;
	text-align: right;
}
nav.submenu > ul > li.active + li{
  border-top-style: none;
}

nav.submenu > ul > li.active a:link,
nav.submenu > ul > li.active a:visited{
    color: #fff;
}
nav.submenu > ul > li > ul{
  display: none;
}
nav.submenu > ul > li.active > ul{
  display: block;
}
nav.submenu > ul > li > ul > li{
  border-top-width: 1px;
  border-top-style: dashed;
}
nav.submenu > ul > li > ul > li:first-child{
  margin-top: 10px;
}
nav.submenu > ul > li > ul > li a{
  font: italic 700 13px 'Lora';
  text-transform: none;  
}
nav.submenu > ul > li.active > ul > li{
  background-color: #fff;
}
nav.submenu > ul > li.active > ul > li a:link,
nav.submenu > ul > li.active > ul > li a:visited,
nav.submenu > ul > li.active > ul > li a:hover,
nav.submenu > ul > li.active > ul > li a:active{
  color: #d0cece;
}
nav.submenu > ul > li.active,
nav.submenu > ul > li:first-child,
nav.submenu > ul > li.active > ul > li:first-child{
  border-top-style: none;
}
nav.submenu > ul > li.active > a:hover,
nav.submenu > ul > li.active > a:active{
  color: #fff;
}
/* ABOUT */
.about{
  border-top-color: #fdd950;
}
.about nav.submenu > ul > li.active{
  background-color: #fdd12a;
}
.about nav.submenu > ul > li > ul > li a:hover,
.about nav.submenu > ul > li > ul > li a:active,
.about nav.submenu > ul > li > ul > li.active a.active{
    color: #fdd12a;
}
/* CONCEPT */
.concept{
  border-top-color: #00a06c;
}
.concept nav.submenu > ul > li.active{
  background-color: #00a06c;
}
.concept nav.submenu > ul > li > ul > li a:hover,
.concept nav.submenu > ul > li > ul > li a:active,
.concept nav.submenu > ul > li > ul > li.active a.active{
    color: #00a06c;
}
/* INDEX */
.index {
  border-top-color: #0f87bb;
}
/* CONTACT */
.contact {
  border-top-color: #c80e2b;
}

/* CONTENT
   ------- */
.sidebarpics li{
	margin-bottom: 10px;
	margin-top: 10px;
}
.content article ul{
	margin-top: 30px;
	padding-left: 10px;
}
.content article ul li{
	list-style-type:disc;
	margin-left: 10px;
}
.content article h3 {
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 19px;
	color: #898989;
}
.content{
  padding-top: 60px;
}
.content h1{
  font-size: 48px;
  text-transform: uppercase;
  color: #bb0038;
  margin-bottom: 20px;
}
.content h2{
  font: italic 700 25px 'Lora';
  color: #898989;
  margin-bottom: 20px;
}
.content h2.intro{
	font: 400 20px 'Josefin Slab', serif;
	text-transform: uppercase;
	color: #898989;
	font-weight: normal;
	font-style: normal;
	line-height: 25px;
}
.content a{
	color: #00a06c;
}
.edit a,
.read a{
  text-indent: -9999px;
  display:block;
  width: 20px;
  height: 20px;
}
.edit a:link,
.edit a:visited {
  background: url(http://allmannakontoret.se/assets/img/tools.png) no-repeat 0 3px;
}
.edit a:hover,
.edit a:active {
  background: url(http://allmannakontoret.se/assets/img/tools.png) no-repeat 0 -23px;}
.read a:link,
.read a:visited{
    background: url(http://allmannakontoret.se/assets/img/tools.png) no-repeat -38px -23px;
}
.read a:hover,
.read a:active {
    background: url(http://allmannakontoret.se/assets/img/tools.png) no-repeat -38px 3px;
}
.content p{
  clear: left;
  margin-top: 10px;
  line-height: 27px;
  font-size: 20px;
}
.content p:last-child{
	padding-bottom: 10px;
}
.index .nomenu{
	background: url(../img/index.png) no-repeat 0 60px;
}
.contact .nomenu{
	background: url(../img/contact.png) no-repeat 0 60px;
}
.content article{
	float: left;
	padding-top: 10px;
	padding-left: 10px;
}
.nomenu.content article{
	background-color: rgba(255, 255, 255, 0.93);	
}
.content .tools{
	margin-left: -28px;
}
.team h3.name{
	margin: 0 0 5px;
}
.team img{
	margin-bottom: 10px;
}
.team .role{
  font: italic 700 15px 'Lora';
	color: #d0cece;
	margin-bottom: 5px;
	margin-left: 0;
}
.team .description p{
	font-size: 17px;
	line-height: 1.2em;
}
.content article ul.team li{
	list-style-type:none;
	margin-left: 0px;
	border-bottom: 1px dashed #d0cece;
	margin-bottom: 20px;
}
.content article ul.team li:last-child{
	border-bottom-style: none;
}

/* FOOTER
   ------ */ 
 footer{
   font-size: 12px;
	 margin: 70px 0 0;
   border-top: 1px dashed #d5d5d5;
   color: #a9a9a9;
	 padding-top: 10px;
	 padding-right: 0;
	 padding-left: 0;
 }
 footer p{
   margin: 0 0 3px;
   float: left;
   text-align: left;
 }
 footer a:link,
 footer a:visited{
   font-size: 12px;
   color: #a9a9a9;
 }
 footer section{
   clear: none;
	 margin-top: 20px;
   margin-right: 1px;
	 margin-bottom: 110px;
 }
 footer section h1{
    font: italic 700 16px 'Lora';
   color: #a9a9a9;
 }
 footer section.third h1,
 footer section.second h1
 {
   margin-bottom: 30px;
   margin-top: 12px;
 }
 footer section.second li a,
 footer section.third li a{
   background: url(http://allmannakontoret.se/assets/img/tools.png) no-repeat;
   padding-left: 46px;
   height: 30px;
   display: block;
   padding-top: 8px;
   color: #CACACA;
   width: 60px;
   margin-bottom: 15px;
   margin-top: 15px;
 }
 
 footer section.second li a.github:link,
 footer section.second li a.github:visited{
   background-position: 0 -125px;
 }
 
 footer section.second li a.github:hover,
 footer section.second li a.github:active{
    background-position: 0 -165px;
 }
 
 footer section.second li a.flattr:link,
 footer section.second li a.flattr:visited{
   background-position: -147px -125px;
 }
 
 footer section.second li a.flattr:active,
 footer section.second li a.flattr:hover{
   background-position: -147px -165px;
 }
 
 footer section.third li a.twitter:link,
 footer section.third li a.twitter:visited{
   background-position: -146px -213px;
 }
 
 footer section.third li a.twitter:hover,
 footer section.third li a.twitter:active{
   background-position: -146px -253px;
 }
 
 footer section.third li a.facebook:link,
 footer section.third li a.facebook:visited{
   background-position: 0 -213px;
 }
 
 footer section.third li a.facebook:hover,
 footer section.third li a.facebook:active{
   background-position: 0 -253px;
 }
 
 
 footer section.third{
   margin-left: 0;
 }
 
 footer h1 a{
   text-indent: -9999px;
   display: block;
   height: 50px;
   width: 75px;
   float: left;
   margin-top: 13px;
 }
 
 footer h1 a:link,
 footer h1 a:active
 {
   background: url(http://allmannakontoret.se/assets/img/tools.png) no-repeat 0 -63px;
 }
 
 footer h1 a:hover,
 footer h1 a:visited
 {
   background: url(http://allmannakontoret.se/assets//img/tools.png) no-repeat -105px -63px;
 }
 footer section.first{
 	margin-top: 53px;
 }
 footer section.first p:nth-of-type(1){
   width: 200px;
   margin-left: 10px;
   margin-top: 10px;
 }
 
 footer section.first p:nth-of-type(2){
   clear: left;
   margin-top: 10px;
   width: 265px;
 }
 
 footer .separator{
 	border-left:1px solid #a9a9a9;
 	height:100px;
 	width:1px;
 	margin: 70px 0 0;
 	float:left
 }