


html{
  -webkit-text-stroke: 0.15px;
  background: url(img/grid.png) repeat;
  font-family: 'Josefin Slab', serif;
}
html, body{
  margin: 0;
  padding: 0;
}

.content > header, nav, article, footer, address, section {
 display: block;
}

.content > header, article{
  box-shadow: 0px 2px 3px rgba(0,0,0,0.39);
}

.hidden{
display: none;  
}

h1.logo_sv{
    background: url(img/logo_sv.png) no-repeat 43px center;
}

h1.logo_en{
    background: url(img/logo_en.png) no-repeat 38px center;
}


h1.logo {
  text-indent: -9999px;
  width: 212px;
  height: 164px;
  margin-top: 115px;
  margin-bottom: 0;
}

.content > header,footer {
 background-color: #B9B9B3;
}

div.lang,
div.lang a{
  padding-top: 20px;
  color: #fff;
}

div.lang a:link,
div.lang a:visited{
  text-decoration: none;
}

div.lang a:hover,
div.lang a:active,
div.lang a.active
{
  text-decoration: underline;
}

#postit img{
  width: 380px;
  height: 230px;
  position: relative;
  left: 68px;
  top: 66px;
}

#postit img a{
  text-decoration: none;
}

nav ul{
  font-weight: 700;
  list-style-type: none;
  text-transform: uppercase;
}

nav li {
  color:white;
  padding-bottom: 5px;
  padding-top: 10px;
}

header nav ul{
  margin: 70px 0 30px;
  font-size: 24px;
  padding: 0 0 0 30px;
}

nav > ul li{
  border-bottom-width: 1px;
  border-bottom-style: solid;  
}

nav > ul li:last-child{
  border-style: none;
}

nav li a {
  color:white;
  text-decoration:none; 
}

li.about a:active, 
li.about a:hover,
li.about.active a,
li.om_projektet a:active, 
li.om_projektet a:hover,
li.om_projektet.active a{
  color: #fbc300;
}
nav li.index a:active, 
nav li.index a:hover,
nav li.index.active a{
  color: #0085bc;
}

nav li.concept a:active, 
nav li.concept a:hover,
nav li.concept.active a,
nav li.koncept a:active, 
nav li.koncept a:hover,
nav li.koncept.active a{
  color: #00a068;
}

nav li.contact a:active, 
nav li.contact a:hover,
nav li.contact.active a,

nav li.kontakt a:active, 
nav li.kontakt a:hover,
nav li.kontakt.active a{
  color: #c20233;
}

.about article > header > h1.entry-title,
.om_projektet article > header > h1.entry-title{
    background: #FFC600 url(img/star.png) no-repeat 25px center;
}

.index article > header >  h1.entry-title{
    background: #0085bc url(img/star.png) no-repeat 25px center;
}

.concept article > header >  h1.entry-title,
.koncept article > header >  h1.entry-title{
  background: #00a068 url(img/star.png) no-repeat 25px center;
}

.contact article > header >  h1.entry-title,
.kontakt article > header >  h1.entry-title{
  background: #c20233 url(img/star.png) no-repeat 25px center;
}

header > h1.entry-title {
 font-size: 36px;
  text-transform: uppercase;
  margin: 0 0 70px;
  padding: 27px 20px 20px 70px;
  color: white;
}

h2.entry-section {
  display: none;
}

aside ul.primary{
  font-size: 20px;
  text-align: right;
  padding-top: 30px;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 10px;
}

aside ul.secondary{
  text-transform: none;
  display: none;
}

aside ul.secondary.active{
  display: block;
}

.about aside ul.secondary li.active{
   background: url(img/bullet-yellow.png) no-repeat 0px center; 
}

aside ul.secondary li{
  color: #666;
  border-bottom-style: dashed;
  border-bottom-color: #a9a9a9;
}

.om_projektet aside ul li.active a,
.about aside ul li.active a{
  color: #FFC600;
}

.concept aside ul li.active a,
.koncept aside ul li.active a{
  color: #00a068;
}

.kontakt aside ul li.active a,
.contact aside ul li.active a{
  color: #c20233;
}

aside ul.secondary li a{
  color: #666;
}

aside ul li,
aside ul li a{
    color: #424242;
}

article{
  background-color: white;
}

.entry-summary,
.hentry-content{
  padding: 0 65px 55px 55px;
}

.entry-summary {
  padding-top: 0;
  padding-bottom: 30px;
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  color: #c20233;
}

.hentry-content{
  min-height: 500px;
  margin-bottom: 30px;
}

.hentry-content ul.team{
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.hentry-content ul.team li{
  border-bottom: 1px dashed #d5d5d5;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.hentry-content ul.team li:last-child{
  border-bottom-style: hidden;
}

.hentry-content h3,
.hentry-content h4{
  margin: 0 0 5px;
}

.hentry-content h4{
  color: #797979;
  font: italic 700 14px 'Lora';
  margin-bottom: 20px;
}

article .description p{
  padding: 0;
  margin: 0;
  font-size: 14px;
}

ul.team img {
  border-radius:2px;
  margin-top: 5px;
}

article p{
  font-size: 20px;
  line-height: 26px;
  margin-top: 0;
}

article p a:link,
article p a:visited,
footer p a:link,
footer p a:visited{
  font: italic 700 15px 'Lora';
  color: #00a068;
  text-decoration: none;
}

article p a:hover,
article p a:active,
footer p a:hover,
footer p a:active{
  font: italic 700 15px 'Lora';
  color: #00a068;
  text-decoration: underline;
}

article blockquote,
article blockquote p{
  margin: 0 0 20px;
  font: italic 400 18px/24px 'Lora';
  padding: 5px;
  color: #797979;
  letter-spacing: 1px;
}

.hentry-content ul{
  padding: 0 0 0 20px;
}

.hentry-content ul li{
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 25px;
}

footer {
 text-align:center;
  padding: 20px;
  color: white;
}
footer p{
  margin: 0;  
}