---
layout: amuseet
---
<article>
  <header>
    <h1>{{page.title}}</h1>
    <h2>{{page.subtitle}}</h2>
  </header>
  <ul class="tools edit-read">
    {% if page.ishome %}
      <li class="edit" title="Edit in prose"><a href="{{site.prose}}/{{site.bannername}}/{{page.ref}}.md">Edit in prose</a></li>
    {% else %}
      <li class="edit" title="Edit in prose"><a href="{{site.prose}}/{{site.repo}}/{{page.filedate}}{{page.ref}}.md">Edit in prose</a></li>
    {% endif %}
    <li class="read" title="Read"><a id="read" href="http://readablily.com">Readablily</a></li>  </ul>
  <h4>{{page.intro}}</h4>
  {{content}}
</article>