<html>
<meta charset="utf-8">
<head>
  <title>The Public Office</title>
  <script type="text/javascript" src="{{site.baseurl}}/site.js"></script>
  <link rel="stylesheet" href="{{site.baseurl}}/site.css">
</head>
<body>
  <nav class="main-nav">
    <ul>
      <li><a href="{{site.baseurl}}/index.html">Home</a></li>
      <li><a href="{{site.baseurl}}/docs.html">Docs</a></li>
<!--       <li><a href="{{site.baseurl}}/team.html">Team</a></li>
      <li><a href="{{site.baseurl}}/contact.html">Contact</a></li> -->
    </ul>
  </nav>
  {{content}}
</body>
</html>