<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="{{site.lang}}"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->
<head>
  <title>{{site.title}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="title" content="{{site.title}}">
  <meta name="description" content="{{site.description}}">   
  <meta name="author" content="{{site.author}}">
  <meta name="Copyright" content="{{site.copyright}}">

  <!-- Dublin Core Metadata : http://dublincore.org/ -->
  <meta name="DC.title" content="{{site.title}}">
  <meta name="DC.subject" content="{{site.description}}">
  <meta name="DC.creator" content="{{site.author}}">

  <link rel="shortcut icon" href="{{site.assetsurl}}/assets/img/favicon.png">     
  <link rel="apple-touch-icon" href="{{site.assetsurl}}/assets/img/touch-icon.png">
  
  <link rel="stylesheet" href="{{site.assetsurl}}/assets/css/reset.css" />
  <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:700,400italic,700italic" rel="stylesheet" type="text/css">
  <script src="{{site.assetsurl}}/assets/js/modernizr-1.7.min.js"></script>
  <link rel="stylesheet" href="{{site.assetsurl}}/assets/css/960.min.css" />
  <link rel="stylesheet" href="{{site.assetsurl}}/assets/css/style.css" />
  <script type="text/javascript" src="{{site.assetsurl}}/assets/js/jquery-1.5.1.min.js"></script>
  <script type="text/javascript">
  $(function() {
    // Sticky menu
    // -----------

    var oritop = -100;
    var elm = $(".submenu"); //get the box we want to make sticky
    var foot = $("footer");
    var footerTop = foot.offset().top;

    $(window).scroll(function() { //on scroll,
      var scrollt = window.scrollY; //get the amount of scrolling
      if(elm.length > 0 && oritop < 0) {
        oritop= elm.offset().top; //cache the original top offset
        oritheig = elm.height();
      }

      if(scrollt >= oritop) { //if you scrolled past it,
        if((scrollt + oritheig) >= footerTop) {
          // console.log('one');
          // touches footer
          //make it sticky
          elm.css({"position": "absolute", "top": footerTop - oritheig - 20, 'width': '220px'});
        } else {
        // console.log('two');
        // doesnt touch footer
          elm.css({"position": "fixed", "top": 0, 'width': '220px'}); //make it sticky
        }
      }
      else { //otherwise
        // console.log('three');
        elm.css("position", "static"); //reset it to default positioning
      }
    });
    
    // onload reposition menu if it overlaps
    // if(window.scrollY + elm.height() >= footerTop ) {
    //   elm.css({"position": "absolute", "top": footerTop - oritheig - 20, 'width': '220px'});
    // }

    // Inner links activating
    // ----------------------

    var $priLisA = $('.primary li a');
    var $secLis = $('.secondary li');
    var $seclisA = $secLis.find('a');
    var clss="active";
    var hash = window.location.hash;

    $priLisA.click(function() {
      $secLis.removeClass(clss);
      $seclisA.removeClass(clss);
    });

    $seclisA.click(function() {
      $secLis.removeClass(clss);
      $seclisA.removeClass(clss);
      $(this).addClass(clss);
      $(this).parent().parent().addClass(clss); // parent li
      if(hash) {
        var thisHash = this.hash;
        event.preventDefault();
        $('html,body').animate({scrollTop:$(thisHash).offset().top}, 500);
        document.location.hash=thisHash;
      }
    });

    if(hash) {
      var $li = $('.secondary li[rel="' + hash.replace('#', '') + '"] ');
      $li.addClass(clss);
      $li.find('a').addClass(clss);
    }

  });
  </script>

</head>
<body class="{{page.category}}">
<div class="container_12">
  <div class="grid_8 alpha">
    <h1 class="logo {{site.lang}}"><a href="{{site.baseurl}}">{{site.title}}</a></h1>
  </div>
  <div class="grid_4 omega postit">
    <section>
        <h1>{{site.dates}}</h1>
        <h2>{{site.times}}</h2>
        <p>{{site.join}}</p>
        <a href="{{site.baseurl}}/{{site.bannername}}/">{{site.more}}</a>
    </section>
  </div>
  <nav class="main grid_10 alpha">
    <ul>
      {% include partials/menu.part %}
    </ul>
  </nav>
  <ul class="grid_2 tools omega lang">
    <li><a class="active" href="http://allmannakontoret.se/">{{site.swedish}}</a></li>
    <li><a href="http://thepublicoffice.se/">{{site.english}}</a></li>
  </ul>
  {% if page.noMenu %}
  <div class="grid_3 alpha content">
    {% include partials/sidebarpics.part %}
    </div>
    <div class="grid_8 omega content">
  {% else %}
    <div class="grid_3 alpha content">
    {% include partials/submenu.part %}
    </div>
    <div class="grid_8 omega content">
  {% endif %}
    {{content}}
  </div>
  <div class="grid_12">
    <footer>
      <section class="grid_5 alpha first">
        <h1><a href="http://dilettant.se">Dilettant</a></h1>
          {% for f in site.categories.footermain reversed %}
            {{f.content | markdownify}}
          {% endfor %}
        </section>
        <section class="grid_2 second">
          <h1>{{site.support}}</h1>
          <ul>
            <li><a class="github" href="{{site.githubrepourl}}">Github</a></li>
            <li><a class="flattr" href="{{site.flattrurl}}">Flattr</a></li>
          </ul>
        </section>
        <section class="grid_2 alpha third">
          <h1>{{site.connect}}</h1>
          <ul>
            <li><a class="twitter" href="https://twitter.com/_dilettant">Twitter</a></li>
            <li><a class="facebook" href="https://www.facebook.com/pages/Dilettant/348667654399">Facebook</a></li>
          </ul>
        </section>
        <section class="grid_3 newsletter fourth omega">
          <h1>{{site.newsletter}}</h1>
          <form id="subs" action="http://news.dilettant.se/" method="post">
            <p>If you want to be kept in the loop, you can subscribe to Dilettant's newsletter where we will notify you about the status of the project.</p>
            <input class="email" name="email" size="30">
            <input type="hidden" name="return" value="izikc" />
            <input name="lbqod" class="lbqod" placeholder="your@email.com">
            <input type="submit" id="subscribe" name="action" class="subscribe nlbutton" value="Subscribe">
            <input type="submit" id="unsubscribe" name="action" class="unsubscribe nlbutton" value="Unsubscribe">
          </form>
        </section>
      </footer>
  </div>
</div>
<script src='{{site.assetsurl}}/assets/js/jquery-1.5.1.min.js'></script>
<script src="{{site.assetsurl}}/assets/js/app.js"></script>
<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://hybriskonst.org/piwik/" : "http://hybriskonst.org/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}</script>
<noscript><img src="http://hybriskonst.org/piwik/piwik.php?idsite=1" style="border:0" alt="" /></noscript>  
</body>
</html>