<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset=utf-8>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/site.css">
  <title>The public office</title>
  <script>
    document.createElement("article"); 
    document.createElement("footer"); 
    document.createElement("header"); 
    document.createElement("hgroup"); 
    document.createElement("nav"); 
  </script>
</head>
<body>
  <div class="container_12 {{page.category}}">
    <div class="grid_12">

      <h1 class="grid_3 alpha">The public office</h1>
      <header class="grid_9 omega">
          <nav>
              <ul class="grid_3 alpha">
                  <li class="{% assign item = 'index'%}home{% if page.category == item %} active{% endif %}"><a href="{{site.baseurl}}/{{item}}.html">Home</a></li>
                  <li class="{% assign item = 'about'%}about{% if page.category == item %} active{% endif %}"><a href="{{site.baseurl}}/{{item}}.html">About</a></li>
                  <li class="{% assign item = 'concept'%}concept{% if page.category == item %} active{% endif %}"><a href="{{site.baseurl}}/{{item}}.html">Concept</a></li>
                  <li class="{% assign item = 'contact'%}contact{% if page.category == item %} active{% endif %}"><a href="{{site.baseurl}}/{{item}}.html">Contact</a></li>
              </ul>
          </nav>
      </header>
      <br class="clear"/>
      <aside class="grid_3 alpha">
        {% include partials/submenu.part %}
      </aside>
      <section class="grid_9 omega ">
        {{content}}  
      </section>
    </div>
  </div>
  <br class="clear"/>
  <footer>
   <p>This is the Footer</p>
  </footer>
</body>
</html>