---
layout: default
---
<article class="grid_9 alpha omega">
    <h1 class="grid_7 alpha">{{page.title}}</h1>
    {% assign piage = page%}
    {% include partials/tools.part %}
    {% assign piage = null%}

    {% if page.subtitle %}
    <h2 class="grid_7 alpha">{{page.subtitle}}</h2>
      {% if page.intro %}
      <h3 class="grid_7 alpha intro">{{page.intro | capitalize}}</h3>
      {% endif %}
    {% elsif page.intro %}
      <h2 class="grid_7 alpha intro">{{page.intro | capitalize}}</h2>
    {% endif %}
  <section class="grid_7 alpha">
    {{ content }}
  </section>
</article>